@import 'fonts/luciad/font/style.css';

@import "./styles/variables";
// @import "./theme/variables";
@import "./styles/riux";

body { margin:0; } /* Remove body margins */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
