.LayerControl {
  background-color: #302d2d;
  width: 100%;
  height: 100%;

  font-family: Segoe, "Segoe UI", Calibri, Helmet, FreeSans, sans-serif;
  font-size: 14px;

  .lcdIcon {
    font-size: 16px;
  }
}
